<h1>Editing Subscription Pack Item</h1>

<%= render 'form', subscription_pack_item: @subscription_pack_item %>

<%= link_to 'Show', @subscription_pack_item %> |
<%= link_to 'Back', subscription_pack_items_path %>
