<% @activity_fields.each do |activity_field| %>
  <tr>
    <td><%= activity_field.name %></td>
    
    <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_activity_field_path(activity_field), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), activity_field_delete_path(activity_field), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>