<% @portfolios.each do |portfolio| %>
  <tr>
    <td><%= portfolio.name %></td>
    <td><%= portfolio.status %></td>
    <td>
        <div class="action-buttons">
            <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_portfolio_path(portfolio), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), portfolio_delete_path(portfolio), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>