

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Nos tarif</h1>
      <p class="lead">Nous offrons les meilleurs tarifs sur le marché.</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">

	      	<div class="row">
	      		<% @subscription_packs.each do |pack| %>
		      		<div class="col-md-4">

		      			<div class="card mb-4 box-shadow">
				          <div class="card-header">
				            <h4 class="my-0 font-weight-normal"><%= pack.name %></h4>
				          </div>
				          <div class="card-body">
				            <h1 class="card-title pricing-card-title"><%= pack.price %> <small class="text-muted">/ mois</small></h1>
				            <ul class="list-unstyled mt-3 mb-4">
				            	
				              <% pack.subscription_pack_items.each do |item| %>
				              	<li><%= item.subscription_pack_feature.name %></li>
				              <% end %>

				            </ul>
				            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Souscrire</button>
				          </div>
				        </div>
		      		</div>
	      		<% end %>

	      	</div>


        

        </div>

      </div>

      