
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Salut <%= @user.profile.full_name %>,<br>
      Vous avez reçus une nouvelle invitation.<br>
      <p>
      Réf: <strong><%= @invitation.uid %><br> 
        Pour accepter l'invitation, veuillez cliquer sur le lien ci-dessous:

        <p>
          @url
        </p>
        
      
      </p>
    </p>
    <p>
      
    </p>
    <p>
   
    </p>
  </body>
</html>