
<div class="br-pagebody">
  <div class="br-section-wrapper mg-b-15">
    Rechercher
    <%= render "invitations/partials/search_form" %>
  </div>

  <div class="br-section-wrapper mg-b-30">
    <div class="headers mg-b-20">
        <div class="left-content">
        </div>

        
    </div>


<table id="" class="table display responsive nowrap">

  <thead>
    <tr>
      <th>Login</th>
      <th>Email</th>
      
    </tr>
  </thead>

  <tbody>
     <%= render "invitations/partials/result" %>
  </tbody>
</table>


</div>
</div>
<div id="invitation-modal" class="c-modal modal fade" data-backdrop="static"></div>
