<div id="new-guest-subscription">
    <div class="container ">
       
        <div class="br-pagebody mg-30">
            <div class="br-section-wrapper">
                <div class="headers mg-b-10">
                    <h2>Abonnement</h2>
                    <h6>Veuillez renseigner le formulaire ci-dessous!</h6>
                    <hr />
                </div>
                <%= render 'guest_subscription_form', subscription: @subscription %>
            </div>
        </div>  
    </div>
</div>